@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
}


/* shared style */
.second-color {
    color: rgba(233, 90, 8, 1);
}

.para-color {
    color: #00000050;
}

.bold {
    font-weight: 600;
}

/* header */
header {
    max-width: 1140px;
    margin: 0 auto;
}

/* nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto 120px auto;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 48px;
}

nav ul li {
    list-style: none;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul .nav-link {
    color: #8987A1;
}

/* banner */
.banner-container {
    display: flex;

}

.break {
    display: none;
}

.banner-title {
    font-size: 4.0625rem;
    margin-bottom: 20px;
}

/* plant card section */
.our-plants {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 120px;

}

.plants-detail {
    text-align: center;
    margin-bottom: 50px;


}

.plants-title {
    font-size: 3.125rem;
    margin-bottom: 16px;

}

.plants-details {
    color: #00000050;
    max-width: 888px;
    margin: 0 auto;
}

.plant-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
}

.card-img {
    margin-bottom: 20px;
}

.card-name {
    font-size: 1.375rem;
    color: #111111;
    font-weight: 500;
    margin-bottom: 20px;

}

.price {
    font-size: 1.375rem;
    color: #111111;
    font-weight: bold;
    margin-bottom: 20px;
}

.card-button {
    width: 100%;
    padding: 20px 50px;
    height: auto;
    background-color: #E95A08;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

/* store details */

.plant-lover-card {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    margin-top: 210px;
    gap: 50px;
}

.flower-store {
    height: 100%;
}

.store-details {
    margin: auto 0;
}

.store-title {
    font-size: 3.125rem;
}

.points {
    margin-top: 30px;
}

.points li {
    color: #00000050;
    font-size: 1.2rem;
    font-weight: 400;
}

/* Newsletter Section */

.newsletter {
    width: 100vw;
    height: 533px;
    background-image: url("../assets/news-letter-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 20px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 120px;
}

.newsletter-box {
    max-width: 830px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: center;
}


.newsletter-title {
    font-size: 3.125rem;
    ;
    margin-bottom: 30px;
    font-weight: 600;
}

.input {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 23px 0px 0px 0px;
}

.input input[type="email"] {
    padding: 20px;
    width: 70%;
    min-height: 50px;
    border: none;
    color: #00000050;
    font-size: 1rem;
}

.input input[type="button"] {
    padding: 20px;
    width: 30%;
    min-height: 50px;
    background-color: #E95A08;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}


/* footer */
.footer-container {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px 0;
    gap: 20px;
}

.footer-logo-section {
    width: 30%;
}

.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer-logo img {
    height: 40px;
}

.footer-description {
    font-size: 1.2rem;
    color: #00000070;
    line-height: 1.5;
}

.footer-links-container {
    display: flex;
    gap: 80px;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #00000070;
    font-size: 14px;
}


.footer-socials {
    display: flex;
    gap: 24px;
    align-items: center;
}

.footer-social img {
    height: 24px;
    margin-right: 24px;
}


@media screen and (max-width:576px) {
    header{
        margin: 20px;
    }

    .nav-links {
        display: none;
    }

    .banner-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .break {
        display: block;
    }

    .banner-title {
        font-size: 1.3rem;
        margin-bottom: 10px;
        margin-top: 15px;
    }

    .banner-image {
        width: 100%;
    }

    .our-plants {
        margin: 20px;
        max-width: 100%;
        padding: 0 20px;
    }

    .plants-detail {
        padding: 0 10px;
    }

    .plants-title {
        font-size: 2.5rem;
    }

    .plants-details {
        font-size: 1rem;
    }

    .plant-cards {
        max-width: 576px;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        max-width: calc((100%-10px)/2);
    }
    .card-img{
        max-width: 100%;

    }
    .card-button {
        padding: 8px;
        font-size: 0.875rem;
    }

    .plant-lover-card {
        display: flex;
        flex-direction: column;
        margin: 20px;
        gap: 30px;
    }
    .store-title{
        font-size: 1.5rem;
    }
    .newsletter {
        height: auto;
        padding: 60px 20px;
    }
    .newsletter-title{
        font-size: 1.25rem;
        margin-bottom: 10px;
    }
    .newsletter-box {
        gap: 10px;
    }
    .input{
        margin-top: 0;
    }
    .footer-container {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        padding: 20px;
        margin: 10px;
        gap: 30px;
    }

    .footer-logo-section,
    .footer-links-container,
    .footer-socials {
        width: 100%;
        text-align: left;
    }

    .footer-links-container {
        flex-direction: column;
        gap: 20px;
    }

    .footer-links li {
        margin-bottom: 8px;
        display: block;
    }

    .footer-link-title {
        margin-bottom: 10px;
    }

}
